body,html{
	height: 100%;
	width: 100%;
}
body{
	margin: 0px;
	padding: 0px;
}
.containerss{
	margin: 0;
	height: 100%;	
	display: grid;
	grid-template-columns: 10% auto 10%;
	grid-template-rows: 10% auto 10%;
	background: #11998e;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.ogrtablo{
	margin-top:10%; 
	grid-column: 2/2;
	grid-row: 2/3;
	margin-left: 10%;
}
#ogrtablo{
	margin-top:0; 
	width: 80%;
	border-collapse: collapse;
	border-style: hidden;

}
#ogrtablo td,th{
	border:0.1px solid white;
	color:white;
}
#pagecon{
	margin-left: 30%;
	grid-column: 2/2;
	grid-row: 1/1;
}
